{"filter":false,"title":"requirements.txt","tooltip":"/itp4115_ea_skiiltest/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":1,"column":14},"end":{"row":1,"column":15},"action":"remove","lines":["2"],"id":2}],[{"start":{"row":1,"column":14},"end":{"row":1,"column":15},"action":"insert","lines":["3"],"id":3}],[{"start":{"row":1,"column":16},"end":{"row":1,"column":17},"action":"remove","lines":["8"],"id":4}],[{"start":{"row":1,"column":16},"end":{"row":1,"column":17},"action":"insert","lines":["0"],"id":5}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":17},"end":{"row":1,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1620810826389,"hash":"74ac87966de0a61c3faa439298c42aa421931763"}